@font-face {
    font-family: "font";
    src: url("./font.ttf");
}

body {
	font-family: font, "Xingkai SC";
	/*margin: 50px;*/
}
h1 {
	font-size: 3em;
	display: inline-block;
}
#content {
	font-size: 1.5em;
}

.first {
	font-size: 2em;
}

#mume {
	/*position: fixed;
	top: 0px;
	right: 0px;*/
	float: right;
}

.top {
	position: fixed;
	width: 100%;
	top: 0px;
}

#article {
    columns: 3 500px;
    -webkit-columns: 3 500px;
    -moz-column-count: 3 500px;
    margin-top: 200px;
}