#Canvas
{
    border: 1px solid #000000;
}
.Row
{
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
}
.Column
{
    display: table-cell;
    /*background-color: red; /*Optional*/
}